<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>
<section class="layout-content" layout:fragment="~{corpo}">
	<div class="jumbotron jumbotron-fluid" style="background-color: #9cc4ff1a;">
		<div class="container">
			<h1 class="display-4"><img src="/image/favicon.png" alt="icone" style="width: 45px; height: 45px;">SGO - Sistema de Gestão de Obras</h1>
			<hr class="my-4">
			<p class="lead mb-0"><strong class="text-primary">CNPJ:</strong> <span
					class="text-muted">19.329.105/0001-17</span></p>
			<p class="lead mb-0"><strong class="text-primary">Razão Social:</strong> <span class="text-muted">WD
					CONSTRUCAO
					E INCORPORACAO DE EMPREENDIMENTOS IMOBILIARIOS LTDA</span></p>
			<p class="lead mb-0"><strong class="text-primary">Nome Fantasia:</strong> <span
					class="text-muted">EMPREENDIMENTOS CANAA</span></p>
			<hr class="my-4">
			<p class="mb-1"><strong>Data de fundação:</strong> 27/11/2013</p>
			<p class="mb-1"><strong>Situação Cadastral:</strong> Ativa</p>
			<p class="mb-1"><strong>Código e descrição da natureza jurídica:</strong> 2062 | SOCIEDADE EMPRESÁRIA
				LIMITADA
			</p>
			<p class="mb-1"><strong>Matriz/Filial:</strong> MATRIZ</p>
			<p class="mb-1"><strong>Código e descrição da atividade econômica principal:</strong> 4110-7/00 |
				INCORPORAÇÃO
				DE EMPREENDIMENTOS IMOBILIÁRIOS</p>
			<p class="mb-1"><strong>Código e descrição da atividade econômica secundária:</strong> 4120-4/00 |
				CONSTRUÇÃO DE
				EDIFÍCIOS | 6810-2/01 | COMPRA E VENDA DE IMÓVEIS PRÓPRIOS</p>
			<p class="mb-1"><strong>Logradouro:</strong> RUA PEDRO OTAVIO DE FARIAS LEITE 489</p>
			<p class="mb-1"><strong>Bairro:</strong> Jardim Paulistano</p>
			<p class="mb-1"><strong>CEP:</strong> 58415-300</p>
			<p class="mb-1"><strong>Município:</strong> Campina Grande</p>
			<p class="mb-1"><strong>UF:</strong> PB</p>
		</div>
	</div>

</section>

</body>

</html>