<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login SGO</title>
    <link rel="icon" href="/image/favicon.png" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sign-in.css" rel="stylesheet">

</head>

<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <form>
            <div class="d-flex align-items-center justify-content-center mb-4">
                <img src="/image/favicon.png" alt="Logo" width="57" height="57" class="me-2 logo">
                <h3 class="h3 fw-normal mb-0 mt-3 name">SGO</h3>
            </div>
            <h1 class="h3 mb-3 fw-normal text-center">Login</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="fulano.beltrano">
                <label for="floatingInput">Usuário</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Senha">
                <label for="floatingPassword">Senha</label>
            </div>


            <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-body-secondary ">SGO - Sistema de Gestão de Obras &copy;</p>
        </form>
    </main>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>